/* my code */

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  height: 100%;
}

::selection {
  background: var(--accentColor);
  color: var(--white);
}
#container {
  flex: 1; /* Grow to fill remaining space */
}
/*Miscellaneous*/
hr {
  color: var(--black);
  border-top: 2px solid;
}
time {
  color: var(--black);
}
/* Navigator CSS */
nav {
  z-index: 30;
  height: 50px;
  background-color: var(--darker-greyColor);
}
nav > ul > li {
  list-style: none;
}
li > a {
  text-decoration: none;
  text-transform: none;
  font-size: 20px;

  font-family: "Roboto Mono", monospace;
  color: var(--oneEColor);
  padding: 0 12px;
  display: block;
}

ul li a:hover {
  color: var(--white);
}
p > a {
  text-decoration: underline;
  font-size: 1.1rem;
  font-family: serif;
  line-height: 2.4rem;
  text-align: justify;
  color: blue;
}
.anhangLinken > ol > li > ul > li > a {
  text-indent: 3rem;
}
.anhangLinken > ol > li > ul > li > a:hover {
  color: var(--accentColor);
}
.inlineNav {
  display: inline-block;
  float: left;
  line-height: 50px;
}
.computerPlus {
  display: none;
}
.iPad {
  display: none;
}
.computer {
  display: none;
}
.phone {
  display: none;
}
/*
  #main {
  overflow: auto;
  padding-bottom: 0px;
}
*/
/*Headers and paragraphs*/
h1 {
  text-decoration: underline;
  text-transform: uppercase;
  text-align: left;
  font-family: Arial;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: -0.05rem;
  color: var(--black);
}

h2 {
  text-decoration: underline;
  font-size: 1.7rem;
  margin: 10px;
  color: var(--black);
}

h3 {
  font-size: 1.15rem;
  font-style: italic;
  padding: 0.7rem;
  color: var(--black);
}
h4 {
  font-weight: bold;
  color: var(--black);
}
strong {
  color: var(--black);
}
/*Archiv center Text*/
.uppercase {
  text-transform: capitalize;
  font-family: "Roboto Mono", monospace;
  font-style: italic;
}
p {
  line-height: 2.4rem;
  font-family: serif;
  font-size: 1.1rem;
  margin: 10px;
  text-align: justify;
  color: var(--black);
}

.searchButton {
  cursor: pointer;
  position: static;
  top: 0;
  right: 0;
}
li {
  line-height: 2.4rem;
}
a:hover {
  color: var(--bg);
}
/*Footer CSS*/

footer {
  z-index: -1000;
  position: relative;
}

/*Footer CSS*/
#footer {
  width: 100%;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
}

.footerTextColor {
  color: var(--white);
  font-family: "Roboto Mono", monospace;
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-align: center;
}

.changeLogText {
  font-size: 1rem;
  list-style-type: disc;
  padding: 15px;
  color: var(--sixColor);
  line-height: 1.2rem;
  max-width: 65ch;
}

.boxlink {
  margin: 10px;
  width: calc(100% - 20px);
  background-color: var(--background-color);
  cursor: pointer;
  border-radius: 0.2rem;
  min-width: 15rem;
}

.boxlink h3 {
  width: calc(100% - 20px);
  line-height: 6rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  font-size: 2rem;
  font-family: "Garamond", "Georgia";
  font-weight: 600;
}

.boxlink:hover {
  opacity: 0.8;
  color: var(--accentColor);
  transform: scale(1.05); /* Slightly scale the element */
  box-shadow: 0 0.8rem 0.5rem var(--accentColor); /* Larger shadow for a lifted effect */
}

/*change box shadow buggyness  old styling: 3px 3px var(--darker-greyColor)*/

.boxlink h3:hover {
  color: var(--accentColor);
}

/* Optional: Add some padding and border-radius for better visual */
.boxlink h3 {
  padding: 0.8rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-out;
}

.boxlink h3 a {
  display: block;
}

.grid-layout {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  max-width: 100%; /* Ensure the container doesn't exceed the viewport 
  width */
  min-width: 100%;
  width: 100%;
}

ol > li > a {
  font-size: 1.2rem;

  display: block;
  line-height: 2rem;
}

.main-wrapper {
  margin: 0.5rem auto;
  padding: 1rem;
}

main div h3 {
  text-transform: uppercase;
  font-family: Garamond;
  font-style: normal;
}

.block {
  font-family: serif;
  text-align: justify;
  font-size: 1.15rem;
}

.frontPageBoxlinks {
  text-decoration: none;
  color: var(--black);
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
}

.emailLink {
  text-align: center;
  font-size: 1.3rem;
}

.indexLink {
  padding: 20px;
  font-size: 1.8rem;
  cursor: pointer;
  list-style-position: inside;
  margin-left: 1rem;
}

.orderedListIndex {
  font-size: 2rem;
  padding-left: 20px;
}

/*changes the bullet points styling*/
ol ::marker {
  color: var(--black);
  font-size: 1.3rem;
}

ul ::marker {
  list-style: initial;
  color: var(--black);
}

.indexLink:hover {
  color: var(--accentColor);
}

video {
  width: 100%;
}

.errorPageParagraph {
  font-size: 2.5rem;
  line-height: 2.7rem;
}

a img:hover {
  opacity: 0.5;
}
.splashScreenText {
  font-family: "Silkscreen", cursive;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  line-height: 2.5rem;
  padding-top: 3rem;
}
/*quotes*/
q {
  display: inline;
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}
/*Default List Style*/
.defaultListStyle {
  list-style: decimal;
}
.defaultListStyle a:hover {
  color: var(--accentColor);
}
/*centered div on astellungen*/
.centeredDiv {
  margin-left: 50px;
}
/*print Watermark*/
.printWatermark {
  display: none;
}
/*astellungen styling*/
.settingsSelect {
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--black);
  font-family: monospace;
  background-color: var(--background-color);
}
.settingsSelect:focus {
  box-shadow: 0 0 4px var(--oneEColor);
}
.settingsSelect:hover {
  background-color: var(--darker-greyColor);
}
/*Icons*/
/*printer gliph styling*/
.printerImg {
  margin-left: none;
  margin-right: none;
  padding-left: none;
  padding-right: none;
  padding-top: 6px;
  width: 35px;
  height: 35px;
}
.searchImg {
  padding-bottom: 6px;
  margin-left: none;
  margin-right: none;
  padding-left: none;
  padding-right: none;
  width: 35px;
  height: 35px;
  margin-bottom: 3px;
}
.printerImg:hover,
.searchImg:hover {
  opacity: 0.5;
}

/*splashscreentext*/
/*ChangeLog styling*/
.erfollegerLescht {
  list-style: inherit;
}
.erfollegerLescht > li > p {
  font-style: oblique;
}
/*cd animation on front page*/

/* .screenSaverHover:hover {
  animation-play-state: paused;
}
.screenSaverImg {
  z-index: 2;
  width: 100px;
  height: 100px;
  animation: left-to-right 1s ease-in-out forwards infinite alternate 3s;
} */
@keyframes left-to-right {
  0% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
  25% {
    transform: translateY(100%);
  }
  50% {
    transform: translateX(100%);
    transform: rotate(60deg);
  }
  75% {
    transform: translateY(0);
    transform: rotate(60deg);
  }
}
/*hover effect*/
.splashScreenText:hover {
  animation: rotate 1s ease 5s 69 alternate;
}
@keyframes rotate {
  0% {
    color: crimson;
    transform: rotate(0);
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: yellow;
  }
  100% {
    color: aqua;
    transform: rotate(360deg);
  }
}

/*feedback nav tag*/
@media only screen and (min-width: 250px) {
  .main-wrapper {
    margin-left: 1.5rem;
    padding-left: 1rem;
  }
}
/*Optimisatioun fir mini handy*/
@media only screen and (max-width: 400px) {
  .phone {
    display: inherit;
  }
  .main-wrapper {
    padding-left: 1rem;
    margin-left: 1.5rem;
  }
}
/*Optimisatioun fir Handy*/
@media only screen and (min-width: 500px) {
  .phone {
    display: inherit;
  }
  .main-wrapper {
    padding-left: 25px;
  }
}
/*Optimisatioun fir iPad*/
@media only screen and (min-width: 910px) {
  .main-wrapper {
    margin: 5px 50px;
    margin-left: 50px;
  }
  .iPad {
    display: inherit;
  }
}
/*Optimisatioun fir iPad mini/Air*/
@media only screen and (min-width: 765px) {
  .main-wrapper {
    margin: 5px 50px;
    margin-left: 30px;
  }
}
/*Optimisatioun fir ComputerPlus*/
@media only screen and (min-width: 1550px) {
  .computerPlus {
    display: inherit;
  }
  .main-wrapper {
    margin-left: 50px;
    width: 80%;
    margin: 0 auto !important;
  }
}
/*Optimisatioun fir Computer*/
@media only screen and (min-width: 1445px) {
  .main-wrapper {
    margin-left: 50px;
    width: 80%;
    margin: 0 auto !important;
  }
  .computer {
    display: inherit;
  }
}
