.calculator {
  max-width: 25rem;
  margin: 3.125rem auto;
  background-color: var(--darkBackgroundColor);
  border-radius: 0.313rem;
  padding: 1.25rem;
  box-shadow: 0 0 0.625rem var(--black);
}

.display {
  width: calc(100% - 2.5rem);
  height: 3.125rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.313rem;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.625rem;
}

button {
  font-size: 1.5rem;
  padding: 0.625rem;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
}

button:hover {
  background-color: var(--oneEColor);
}
