body {
  margin-top: 16rem;
  z-index: 30;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer {
  z-index: -1000 !important;
  width: 100%;
  position: absolute !important;
  top: 0 !important;
  height: 12.5rem;
  padding-bottom: 1rem !important;
}
