/*root*/
:root {
  --vampir: #1b1010;
  --hacker: green;
  --scale-factor: 1;
  --darker-greyColor: rgb(239, 51, 64);
  --darkBackgroundColor: rgb(239, 51, 64);
  --white: #ffffff;
  --th-bgColor: rgba(0, 164, 224, 0.563);
  --accentColor: rgb(255, 206, 0);
  --black: rgb(3, 3, 3);
  --background-color: rgb(0, 164, 224);
  --sixColor: #615353b9;
  --oneEColor: #080808;
  --bg: rgb(0, 164, 224);
  --d3: rgb(0, 163, 224);
  --odd-th-color: rgba(255, 204, 0, 0.501);
  --search-font: rgb(0, 0, 0);
  --temp: rgb(var(255 * random()), 255 * random(), 255 * random());
}
/*MathJax Config*/
.MJX-TEX {
  color: #000 !important;
}
.splashScreenText {
  word-spacing: 1rem;
  line-height: 3rem !important;
  font-size: 2.5rem !important;
  font-weight: bold !important;
  font-family: cursive !important;
  /* font-family: "Major", sans-serif !important; */
}
