# Speed Optimizations
## Expires by type
<IfModule mod_expires.c>
    ## Enable expiration control
    ExpiresActive on

    ## CSS and JS expiration: 1 week after request
    ExpiresByType text/css "now plus 1 week"
    ExpiresByType application/javascript "now plus 1 week"
    ExpiresByType application/x-javascript "now plus 1 week"

    ## Image file expiration: 1 month after request
    ExpiresByType image/gif "now plus 1 month"
    ExpiresByType image/jpeg "now plus 1 month"
    ExpiresByType image/jpg "now plus 1 month"
    ExpiresByType image/png "now plus 1 month"
    ExpiresByType image/ico "now plus 1 month"
    ExpiresByType text/ico "now plus 1 month"
    ExpiresByType application/ico "now plus 1 month"
    ExpiresByType image/svg+xml "now plus 1 month"

    ## Font files expiration: 1 month after request
    ExpiresByType application/x-font-ttf "now plus 1 month"
    ExpiresByType application/x-font-opentype "now plus 1 month"
    ExpiresByType application/x-font-woff "now plus 1 month"
    ExpiresByType font/woff "now plus 1 month"
    ExpiresByType image/svg+xml "now plus 1 month"

    ## Audio file expiration: 1 month after request
    ExpiresByType audio/mp3 "now plus 1 month"

    ## Movies files expiration: 1 month after request
    ExpiresByType video/mp4 "now plus 1 month"
</IfModule>

## Cache-Control
## You need to enable mod_headers for this to work
<IfModule mod_headers.c>
    <filesmatch ".(css|jpg|jpeg|png|gif|js|ico)$">
        Header set Cache-Control "max-age=2592000, public"
    </filesmatch>
</IfModule>
##---------------------------------------
## Gzip
<IfModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_dechunk Yes
    mod_gzip_item_include file .(html?|txt|css|js|php)$
    mod_gzip_item_include handler ^cgi-script$
    mod_gzip_item_include mime ^text/.*
    mod_gzip_item_include mime ^application/x-javascript.*
    mod_gzip_item_exclude mime ^image/.*
    mod_gzip_item_exclude repheader ^Content-Encoding:.*gzip.*
</IfModule>

##OR
##<IfModule mod_headers.c>
##    <filesmatch ".(css|jpg|jpeg|png|gif|js|ico)">
##        SetOutputFilter DEFLATE
##    </filesmatch>
##</IfModule>
##---------------------------------------

## Set header Vary: Accept-Encoding
<IfModule mod_headers.c>
    <filesmatch ".(js|css|xml|gz|html)$">
        Header append Vary: Accept-Encoding
    </filesmatch>
</IfModule>

# Default Directory Page
DirectoryIndex index.html 

# Change Server signature
##---------------------------------------
ServerSignature EMail
SetEnv SERVER_ADMIN feedback@luxformel.info
#OR
## ServerSignature Off

# Error Pages
ErrorDocument 400 /Errors/400.html
ErrorDocument 401 /Errors/401.html
ErrorDocument 403 /Errors/401.html
ErrorDocument 404 /Errors/404.html
ErrorDocument 500 /Errors/500.html
ErrorDocument 503 /Errors/500.html
ErrorDocument 504 /Errors/500.html

## Error Page types
# 400 - Bad Request
# 401 - Authorization Required
# 403 - Forbidden
# 404 - Not Found
# 500 - Internal Server Error
# 503 - Service Unavailable
# 504 - Gateway Timeout

# Block specific files
<Files .htaccess>
    order allow,deny
    deny from all
</Files>