.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid var(--white);
  outline: none;
  background-color: var(--darkBackgroundColor);
}

.calculator-grid > button:hover {
  background-color: var(--white);
  opacity: 0.1;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: var(--black);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: var(--white);
  font-size: 1.5rem;
}

.output .current-operand {
  color: var(--white);
  font-size: 2.5rem;
}
